name: Controller Unit Tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    name: Build, Lint, Unit Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./oidc-controller
        run: |
          pip3 install --no-cache-dir poetry
          poetry install --only main
      - name: Lint with black
        working-directory: ./oidc-controller
        run: |
          poetry run black --check .
      - name: Test with pytest
        working-directory: ./oidc-controller
        run: |
          poetry run pytest --log-cli-level=INFO --cov --cov-report lcov
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2
        with:
          flag-name: python-${{ matrix.python-version }}
          parallel: true
  code-coverage:
    name: Generate Code Coverage
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          carryforward: "python-3.11"
